@font-face {
    font-family: 'greggiefontregular';
    src: url('greggiefont-webfont.woff2') format('woff2'),
         url('greggiefont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}